# --- Binarios y Herramientas ---
# Ignoramos los .exe para no subirlos a GitHub (pesan y no es legal distribuirlos)
*.exe
*.zip

# --- Carpetas de Salida ---
# Ignoramos la carpeta donde se guarda la música
Musica/

# --- Archivos Multimedia Sueltos ---
# (Por seguridad, por si alguna descarga cae fuera de la carpeta)
*.mp3
*.m4a
*.webm
*.wav
*.flac

# --- Archivos Temporales ---
# Archivos que crea yt-dlp mientras descarga
*.part
*.ytdl

# --- Archivos del Sistema Windows ---
Thumbs.db
Desktop.ini